---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Tag Index";
const allPosts = await getCollection("posts");
const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
];
---

<BaseLayout pageTitle={pageTitle}>
    <ul class="tags">
        {
            uniqueTags.map((tag) => (
                <a href=`/tags/${tag}`>
                    <li class="tag">
                        {tag}
                    </li>
                </a>
            ))
        }
    </ul>
</BaseLayout>

<style>

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }

  .tags  a {
    color: #00539F;
    text-decoration: none;
  }

  .tags li {
    list-style: none;
  }

</style>